@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./font.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-prompt-regular: Prompt-Regular;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #efeeee;
  font-family: var(--font-prompt-regular);
  z-index: 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.card {
  width: 100%;
  margin: 2rem 1rem;
}

.layout_grid {
  display: grid;
  justify-content: center;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-auto-rows: 300px;
  max-height: 70vh;
  overflow-y: auto;
  padding: 1rem;
  position: relative;
  z-index: 1;
}

.card_tumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* border: 1px solid black; */
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.name_user {
  width: 100%;
  text-align: left;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
}

.email_user {
  text-align: left;
  width: 100%;
  white-space: break-spaces;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.text-bold {
  font-family: Prompt-Bold;
}

.card_tumbnail:hover {
  position: sticky !important;
  z-index: 99 !important;
  top: 0px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform: scale(1.10, 1.10);
}